/* BlogList.module.css */
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2.5rem 0;
}

.button {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:not(.all) {
  background-color: transparent;
  color: black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
