/* homepage.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: linear-gradient(135deg, #f5f7fa 0%, #f5f7fa 100%);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .intro {
    text-align: center;
    margin-bottom: 40px;
    border: 1px transparent ;
    border-radius: 10px;
    border-style: border-box;
    box-shadow: 0px 0px 0px whitesmoke;
    
  }
  
  .intro h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 1rem;
    color: #555;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .btn {
    margin-top: 20px;
  }
  
  .btn button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn button:hover {
    background-color: #005bb5;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .intro h2 {
      font-size: 2rem;
    }
  
    .intro p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .intro h2 {
      font-size: 1.5rem;
    }
  
    .intro p {
      font-size: 0.9rem;
    }
  }
  